<p> {{ name | myCustomTextTransform : 'u' : 'p' : 'true' }}</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum est, voluptate alias dicta quaerat assumenda blanditiis eveniet molestiae optio nisi modi. Vel tenetur magni alias minima optio quam voluptatibus aperiam!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum est, voluptate alias dicta quaerat assumenda blanditiis eveniet molestiae optio nisi modi. Vel tenetur magni alias minima optio quam voluptatibus aperiam!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum est, voluptate alias dicta quaerat assumenda blanditiis eveniet molestiae optio nisi modi. Vel tenetur magni alias minima optio quam voluptatibus aperiam!</p>
<p> {{ hoy | date : "YYYY/MM/dd" }} </p>