<div class="d-flex mb-2">
  <mat-label color="accent" class="font-harry">Lista de alumnos</mat-label>
  <span class="toolbar-spacer"></span>
  <button mat-button color="accent" class="shadow-btn-background" (click)="openDialog()">Agregar alumno<mat-icon>person_add</mat-icon></button>  
</div>

<table mat-table [dataSource]="students" class="mat-elevation-z8 shadow-background">
  
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef font-size-change class="font-white"> No. </th>
    <td mat-cell *matCellDef="let element" class="font-white"> {{ element.id }} </td>
  </ng-container>

  <!-- Full Name Column -->
  <ng-container matColumnDef="fullname">
    <th mat-header-cell *matHeaderCellDef font-size-change  class="font-white"> Alumno </th>
    <td mat-cell *matCellDef="let element" class="font-white"> {{ element | fullname }} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef font-size-change  class="font-white"> Email </th>
    <td mat-cell *matCellDef="let element" class="font-white"> {{ element.email }} </td>
  </ng-container>

  <!-- House Column -->
  <ng-container matColumnDef="house">
    <th mat-header-cell *matHeaderCellDef font-size-change  class="font-white"> Casa </th>
    <td mat-cell *matCellDef="let element" class="font-white"> {{ element.house }} </td>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef font-size-change  class="font-white"> Fecha </th>
    <td mat-cell *matCellDef="let element" class="font-white"> {{ element.createdAt | date}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef font-size-change  class="font-white"> Acciones </th>
    <td mat-cell *matCellDef="let element" class="font-white"> 
      <button *ngIf="isAdmin" mat-icon-button color="primary" (click)="openDialog(element)">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button color="accent" (click)="openBioStudent(element)">
        <mat-icon>article</mat-icon>
      </button>

      <button *ngIf="isAdmin" mat-icon-button color="warn" (click)="onDeleteStudent(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="firstName" *ngIf="displayedColumns.includes('firstName')">
    <th mat-header-cell *matHeaderCellDef font-size-change  class="font-white"> Nombre </th>
    <td mat-cell *matCellDef="let element" class="font-white"> {{ element.firstName }} </td>
  </ng-container>

  <ng-container matColumnDef="lastName" *ngIf="displayedColumns.includes('lastName')">
    <th mat-header-cell *matHeaderCellDef font-size-change  class="font-white"> Apellido </th>
    <td mat-cell *matCellDef="let element" class="font-white"> {{ element.lastName }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
</table>
