<div class="container">
  <div class="dark-shadow-background mat-elevation-z2">
    <h2 class="mat-h2">Iniciar sesión</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
      <mat-form-field appearance="outline" class="full-width white-border">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" required class="white-text-input">
        <mat-error *ngIf="loginForm.controls?.['email']?.errors?.['required']">El email es requerido</mat-error>
        <mat-error *ngIf="loginForm.controls?.['email']?.errors?.['email']">El email es inválido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width white-border">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" placeholder="Contraseña" formControlName="password" required class="white-text-input">
        <mat-error *ngIf="loginForm.controls?.['password']?.errors?.['required']">La contraseña es requerida</mat-error>
      </mat-form-field>

      <div *ngIf="error" class="error">{{ error }}</div>

      <button type="submit" mat-raised-button color="accent" class="full-width">Iniciar sesión</button>
    </form>
  </div>
</div>
