@use '@angular/material' as mat;
@include mat.core();

$pf-morales-primary: mat.define-palette(mat.$indigo-palette);
$pf-morales-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$pf-morales-warn: mat.define-palette(mat.$red-palette);

$pf-morales-theme: mat.define-light-theme((
  color: (
    primary: $pf-morales-primary,
    accent: $pf-morales-accent,
    warn: $pf-morales-warn,
  )
));

@include mat.all-component-themes($pf-morales-theme);


html, body { height: 100%; }
body {
  background-image: url('assets/img/background.jpg');
  background-size: cover; 
  background-position: center; 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.general-container {
  background-color: transparent !important;
}

.shadow-background {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.shadow-btn-background {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.font-white {
  color: white !important;
}

.sidebar-item {
  color: #ff4081;
  padding-left: 5px;
  vertical-align: super;
  transition: background-color 0.3s ease;
}

.sidebar-block,
.sidebar-item {
  cursor: pointer;
}

.sidebar-block:hover {
  background-color: rgba(255, 64, 129, 0.1);
}

@font-face {
  font-family: 'HARRYP__';
  src: url('./assets/fonts/HARRYP__.TTF') format('woff2'), 
       url('./assets/fonts/HARRYP__.TTF') format('woff');    
}

.font-harry{
  font-size: xx-large;  
  color: darkgoldenrod;
}

.byMe{
  font-size: large;
  color: darkgoldenrod;
}

.font-harry,
.byMe{
  margin-left: 5%;
  font-family: 'HARRYP__', sans-serif;
}