<mat-drawer-container class="general-container" autosize>
    <!-- SIDEBAR -->
    <mat-drawer #drawer [opened]="false" class="shadow-btn-background" [mode]="isMobile() ? 'over' : 'side'">
        <mat-list>
          <a routerLink="students" routerLinkActive="router-link-active"  mat-list-item class="sidebar-block">
            <mat-icon matListIcon color="accent">school</mat-icon><span class="sidebar-item">Alumnos</span>
          </a>
          <a routerLink="teachers" mat-list-item class="sidebar-block">
            <mat-icon matListIcon color="accent">person</mat-icon><span class="sidebar-item">Profesores</span>
          </a>
          <a routerLink="asignatures" (click)="selectComponent('asignatures'); showQualifications()" mat-list-item class="sidebar-block">
            <mat-icon matListIcon color="accent">book</mat-icon><span class="sidebar-item">Materias</span>
          </a>
          <a routerLink="qualifications" *ngIf="qualifications" (click)="selectComponent('qualifications')" mat-list-item class="sidebar-block">
            <mat-icon matListIcon color="accent">checklist</mat-icon><span class="sidebar-item">Calificaciones</span>
          </a>
        </mat-list>  
        <a (click)="logout()" mat-list-item class="sidebar-block">
          <mat-icon matListIcon color="accent">logout</mat-icon><span class="sidebar-item">Cerrar sesion</span>
        </a>
        <div class="sidebar-footer">
          <span mat-list-item class="byMe"  
            #tooltip="matTooltip"
            matTooltip="¡Gracias por ver mi tercer entrega del Proyecto Final del curso de Angular de CoderHouse!"
            matTooltipHideDelay="100"
            tooltipPosition="top">Emi Morales
          </span>   
        </div>
    </mat-drawer>
  
    <!-- TOOLBAR -->
    <div class="row">
      <mat-toolbar color="primary" class="shadow-btn-background row">
        <button (click)="drawer.toggle()" mat-icon-button>
          <mat-icon color="accent">menu</mat-icon>
          <span class="font-harry">Colegio Hogwarts de Magia y Hechicería</span>
        </button>
      </mat-toolbar>

      <main style="padding: 1rem">
        <router-outlet />
      </main>
    </div>
  </mat-drawer-container>