<mat-drawer-container class="general-container" autosize>
    <!-- SIDEBAR -->
    <mat-drawer #drawer [opened]="false" class="shadow-btn-background" [mode]="isMobile() ? 'over' : 'side'">
        <mat-list>
            <a mat-list-item (click)="selectComponent('students')" class="sidebar-block">
              <mat-icon matListIcon color="accent">school</mat-icon><span class="sidebar-item">Alumnos</span>
            </a>
            <a mat-list-item (click)="selectComponent('asignatures')" class="sidebar-block">
              <mat-icon matListIcon color="accent">book</mat-icon><span class="sidebar-item">Materias</span>
            </a>
            <a mat-list-item (click)="selectComponent('teachers')" class="sidebar-block">
              <mat-icon matListIcon color="accent">person</mat-icon><span class="sidebar-item">Profesores</span>
            </a>
          </mat-list>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <!-- TOOLBAR -->
      <mat-toolbar color="primary" class="shadow-btn-background">
        <button (click)="drawer.toggle()" class="btn-toolbar" mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
        <span class="font-harry d-flex justify-content-center">Colegio Hogwarts de Magia y Hechicería</span>
      </mat-toolbar>

      <main style="padding: 1rem">
        <app-students *ngIf="selectedComponent === 'students'" />
        <app-asignatures *ngIf="selectedComponent === 'asignatures'" />
        <app-teachers *ngIf="selectedComponent === 'teachers'" />
      </main>
    </div>
  </mat-drawer-container>