  .example-sidenav-content {
    height: 100%;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  
  mat-list {
  .mat-list-item {
    height: 48px; 
    
    .mat-list-icon {
      margin-top: 18px; 
      font-size: 20px; 
    }
  }
}

.sidebar-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}