<!-- 
    Colores de Angular Material:

    • Primary: primaria (azul)
    • Accent: secundaria (rosada) 
    • Warn: errores (rojo)  
-->
<mat-drawer-container class="example-container" autosize>

    <!-- SIDEBAR -->
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  <!-- CONTENIDO DE LA DERECHA DEL SIDEBAR -->
    <div class="example-sidenav-content">
      <!-- TOOLBAR -->
      <!-- Toolbar -->
      <mat-toolbar color="primary">
          <!-- Boton del toggle Sidebar -->
        <button 
            (click)="drawer.toggle()"
            mat-icon-button class="example-icon" 
            aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My Application</span>
      </mat-toolbar>
    </div>
  
</mat-drawer-container>
  